.cand-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
}

.cand-list-content {
    width: 100%;
    max-width: var(--maximum-w);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}


@media (min-width: 900px) {
    .cand-list-container {
        padding: 64px 0;
    }

    .cand-list-content {
        width: 80%;
    }
}

@media (min-width: 500px) and (max-width: 900px) {
    .cand-list-container {
        padding: 32px 48px;
    }
}

@media (max-width: 500px) {}