.footer-container {
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    gap: 48px;
    
}

.main-content, .bottom-content{
    max-width: var(--maximum-w);
    width: 80%;
    gap: 32px;
    display: flex;
    justify-content: space-between;
}

.links-section {
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
    width: 40%;
}
.links-section h2{
    margin-bottom: 12px;
}

.links{
    gap: 16px;
}
.links span{
    margin-right: 12px;
}


@media (min-width: 500px) and (max-width: 900px) {
    .footer-container{
        padding: 72px 48px;
    }
    .main-content {
        flex-direction: column;
    }
    .bottom-content, .main-content{
        gap: 32px;
        width: 100%;
    }

    .links-section {
        width: 100%;
        gap: 12px;
    }
}
@media (max-width: 500px) {
    .footer-container{
        padding: 48px 16px;
    }
    .main-content {
        flex-direction: column;
    }
    .bottom-content, .main-content{
        gap: 16px;
        width: 100%;
    }
    .links-section {
        width: 100%;
    }
}