.input-field{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

@media (min-width: 900px){
    
}

@media (min-width: 500px) and (max-width: 900px) {
    
}

@media (max-width: 500px){
    .input-field{
        padding: 8px 12px;
        font-size: 12px;
        line-height: 16px;
    }
} 