

@media (min-width: 900px){
    .login-container{
        gap: 32px;
    }
}

@media (min-width: 500px) and (max-width: 900px) {
    .login-container{
        gap: 24px;
    }
}
@media (max-width: 500px){
    .login-container{
        gap: 16px;
    }
} 