@import url('../../index.css');
.comp-name{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.partners-content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--medy);
}

.company-name-sec{
    gap: var(--medy);
}

@media (min-width: 900px){
    .partners-content{
        width: 80%;
    }
}

@media (max-width: 500px){
    
    .company-name-sec{
        gap: var(--smy);
    }
}