
.comp-name{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.partners-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--medy);
    padding: var(--lary) var(--larx);
}

.partners-content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--medy);
    /* padding: var(--lary) var(--larx); */
}

.company-name-sec{
    gap: var(--medy);
}

@media (min-width: 500px) and (max-width: 900px) {
    .partners-container{
        padding: var(--medy) var(--medx);
    }
}
@media (max-width: 500px){
    .partners-container{
        padding: var(--smy) var(--smx);
    }
    .company-name-sec{
        gap: var(--smy);
    }
}