@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --small: 500px;
    --med: 900px;
    --large: 1200px;

    --smy: 24px;
    --medy: 32px;
    --lary: 48px;

    --smx: 16px;
    --medx: 48px;
    --larx: 64px;

    --maximum-w: 1920px;
}

.common-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 24px 16px;
}

.common-content {
    width: 100%;
    max-width: var(--maximum-w);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}
.card-shadow:hover{
    /* hover:shadow-primary-900/40  */
    /* ease-in duration-100 */
    box-shadow: "#00416A"/40 ;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.3s ease-in-out;
    transition-duration: 200ms;
}


@media (min-width: 900px) {
    .common-container {
        padding: 64px 0;
    }

    .common-content {
        width: 80%;
    }
}

@media (min-width: 500px) and (max-width: 900px) {
    .common-container {
        padding: 32px 48px;
    }
}


/* 

BreakPoints

@media (min-width: 900px){
    
}

@media (min-width: 500px) and (max-width: 900px) {
    
}
@media (max-width: 500px){

} 

*/